$lightgray:#e9e9e9;
$primaryRed:#e62a3a;

$primaryColor:#57a93d;
$primaryYellow:#fca000;
$lightgray2:#f2f2f2;
$darkText:#363636;
$darkbg:#160e02;
$textColor:#3d3d3d;
$softblue:#3174F1;
$darkblue:#354581;
$softyellow:#FAD500;


$fallback: Arial, Verdana, sans-serif;
$latoBlack: 'latoblack', $fallback;
$latoBlackItalic: 'latoblack_italic', $fallback;
$latoBold: 'latobold', $fallback;
$latoBoldItalic: 'latobold_italic', $fallback;
$latoLight: 'latolight', $fallback;
$latoLightItalic: 'latolight_italic', $fallback;
$latoHairline: 'latohairline', $fallback;
$latoRegular: 'latoregular', $fallback;
$latoItalic: 'lato-italic', $fallback;
$latoHairlineItalic: 'latohairline_italic', $fallback;
$calluna: 'CallunaSansW01', $fallback;